html, body { background-color: #eeeeee; box-sizing: border-box; font-family: sans-serif; margin: 0; padding: 0; }
a { color: black; }
pre { margin: 0; }

.button { background-color: #2b1e3a; display: inline-block; padding: 0.25em 0.5em; vertical-align: middle; }
.button > a { color: white; }
.columns { display: grid; grid-template-columns: 1fr 2fr; }
@media (max-width: 600px) {
    .columns { grid-template-columns: 1fr; }
}
.columns > div { margin: 0.5em; }
.container { margin: 0.5em; }
.grid { display: grid; grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr)); margin: 0.5em; gap: 0.5em; }
.item { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.menubar { background-color: #2b1e3a; color: white; display: flex; flex-direction: row; list-style: none; margin: 0; padding: 0.25em; }
.menubar > a.item { color: white; padding: 0.75em 1em; }
.menubar > a.logo { height: 32px; margin: auto 1em; padding: 0; }
.menubar > a.logo > img { height: 32px; }

.jobitem { border-style: solid; border-width: 4px 4px 4px 0; display: grid; grid-template-columns: min-content auto; }
.jobitem.succeeded { background-color: #3adb76; border-color: #3adb76; }
.jobitem.failed { background-color: #cc4b37; border-color: #cc4b37; }
.jobitem.started { background-color: #1779ba; border-color: #1779ba; }
.jobitem.warning { background-color: #ffae00; border-color: #ffae00; }
.jobitem.created { background-color: #767676; border-color: #767676; }
.jobitem.cancelled { background-color: #181818; border-color: #181818; }
.jobitem a { color: black; }
.jobdesc { color: black; line-height: 1.5em; padding: 0.5em; }
.jobitem.succeeded > .jobdesc { background-color: #e1faea; }
.jobitem.failed > .jobdesc { background-color: #f7e4e1; }
.jobitem.started > .jobdesc { background-color: #d7ecfa; }
.jobitem.warning > .jobdesc { background-color: #fff3d9; }
.jobitem.created > .jobdesc { background-color: #eaeaea; }
.jobitem.cancelled > .jobdesc { background-color: #eaeaea; }
.jobdesc > .title { font-weight: bold; }
.jobdesc > .small { font-size: 0.75em; }
.jobicon { color: white; line-height: 1.5em; padding: 0.5em; }

.history { display: flex; flex-direction: row; flex-wrap: wrap; font-size: 0.75rem; }
.history > .jobitem { margin-left: 0.5rem; }
.history > .jobitem:first-child { margin-left: 0; }
