{{ define "headers" }}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/static/styles.css" />
<title>{{ .Title }} | Aura</title>
<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
<link rel="manifest" href="/static/site.webmanifest">
<link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#271837">
<link rel="shortcut icon" href="/static/favicon.ico">
<meta name="msapplication-TileColor" content="#9f00a7">
<meta name="msapplication-config" content="/static/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
{{ end }}

{{ define "jobitem" }}
<div class="jobitem success">
    <div class="jobicon">ok</div>
    <div class="jobdesc">
        <span class="title"><a href="/j/{{ .Id }}">{{ .Name }}</a></span>
        <span class="small">finished 2h13m ago, took 1m</span>
    </div>
</div>
{{ end }}