{{ define "headers" }}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/static/styles.css" />
<title>{{ .Title }} | Aura</title>
<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
<link rel="manifest" href="/static/site.webmanifest">
<link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#271837">
<link rel="shortcut icon" href="/static/favicon.ico">
<meta name="msapplication-TileColor" content="#9f00a7">
<meta name="msapplication-config" content="/static/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<script>
    function updateTimers() {
        const t = Math.floor(Date.now() / 1000);
        const elems = document.querySelectorAll("[data-timer]");
        elems.forEach(elem => {
            let t2 = elem.getAttribute("data-timer") - t;
            const neg = t2 < 0;
            t2 = Math.abs(t2);
            let txt = "";
            const d = Math.floor(t2 / 86400);
            const h = Math.floor((t2 % 86400) / 3600);
            const m = Math.floor((t2 % 3600) / 60);
            const s = Math.floor(t2 % 60);
            if (d > 0) {
                txt = d.toString() + "d" + h.toString() + "h";
            } else if (h > 0) {
                txt = h.toString() + "h" + m.toString() + "m";
            } else if (m > 0) {
                txt = m.toString() + "m" + s.toString() + "s";
            } else {
                txt = s.toString() + "s";
            }
            if (neg) {
                elem.innerHTML = txt + " ago";
            } else {
                elem.innerHTML = "in " + txt;
            }
        });
        setTimeout(updateTimers, 5000);
    }
    window.onload = updateTimers;
</script>
{{ end }}

{{ define "jobitem" }}
<div class="jobitem {{ .JobStatus }}">
    <div class="jobicon">{{ .JobStatus }}</div>
    <div class="jobdesc">
        <span class="title"><a href="/j/{{ .Job.Id }}">{{ .Job.Name }}</a></span>
        {{ if not .Minimal }}
        {{ if or (eq .JobStatus "created") (eq .JobStatus "submitted") }}
        <span class="small">created {{ buildTimer .Job.Created }}</span>
        {{ else if eq .JobStatus "started" }}
        <span class="small">started {{ buildTimer .Job.Started }}</span>
        {{ else if eq .JobStatus "succeeded" }}
        <span class="small">finished {{ buildTimer .Job.Ended }}, took {{ .JobDuration }}</span>
        {{ else if eq .JobStatus "failed" }}
        <span class="small">finished {{ buildTimer .Job.Ended }}, took {{ .JobDuration }}</span>
        {{ end }}
        {{ end }}
    </div>
</div>
{{ end }}