<!DOCTYPE html>
<html lang="en">
<head>
{{ template "headers" . }}
</head>
<body>
    <div class="menubar">
        <a class="logo" href="/"><img src="/static/logo.png" alt="Aura logo" /></a>
        <a class="item" href="/j/{{ .Job.Id }}">Job #{{ .Job.Id }}</a>
    </div>
    <div class="columns">
        <div style="max-width: 300px;">
            <div class="item"><b>Project</b> <a href="/p/{{ .ProjectSlug }}">{{ .ProjectName }}</a></div>
            <div class="item"><b>Entity</b> <a class="item" href="/p/{{ .ProjectSlug }}/{{ .EntityKey }}">{{ .EntityKey }}</a> <a class="item" href="/p/{{ .ProjectSlug }}/{{ .EntityKey }}/{{ .EntityVal }}">{{ .EntityVal }}</a></div>
            <div style="margin: 0.5em 0;">
                {{ template "jobitem" . }}
            </div>
            <div class="item">created {{ buildTimer .Job.Created }}</div>
            {{ if or (or (eq .JobStatus "started") (eq .JobStatus "succeeded")) (eq .JobStatus "failed") }}
            <div class="item">started {{ buildTimer .Job.Started }}</div>
            {{ end }}
            {{ if or (eq .JobStatus "succeeded") (eq .JobStatus "failed") }}
            <div class="item">finished {{ buildTimer .Job.Ended }}</div>
            <div class="item">took {{ .JobDuration }}</div>
            {{ end }}
            <hr/>
            <div class="item"><b>Command</b> {{ .Job.Cmd }}</div>
            <div class="item"><b>Tag</b> {{ .Job.Tag }}</div>
            {{ if .JobEnvKeys }}
            <div class="item"><b>Environment Variables</b></div>
            <ul style="margin: 0;">
            {{ range $key := .JobEnvKeys }}
            <li class="item">{{ $key }}</li>
            {{ end }}
            </ul>
            {{ end }}
            {{ if or (or (eq .JobStatus "started") (eq .JobStatus "succeeded")) (eq .JobStatus "failed") }}
            <div class="item"><b>Runner</b> {{ .Runner.Name }}</div>
            {{ end }}
            {{ if or (eq .JobStatus "succeeded") (eq .JobStatus "failed") }}
            <div class="item"><b>Exit Code</b> {{ .Job.ExitCode }}</div>
            {{ end }}
        </div>
        <div>
            {{ if .PrecedingJobs }}
            <div><b>Waiting on</b></div>
            {{ range $job := .PrecedingJobs }}
            <div style="margin: 0.5em 0;">
                {{ template "jobitem" $job }}
            </div>
            {{ end }}
            {{ end }}
            {{ if .WaitingEarliestStart }}
            <div><b>Waiting until start</b> {{ buildTimer .Job.EarliestStart }}</div>
            {{ end }}
            {{ if or (eq .JobStatus "succeeded") (eq .JobStatus "failed") }}
            {{ if .Log }}
            <pre>{{ .Log }}</pre>
            {{ else }}
            <i>No log available.</i>
            {{ end }}
            {{ end }}
        </div>
    </div>
</body>
</html>
