<!DOCTYPE html>
<html lang="en">
<head>
{{ template "headers" . }}
</head>
<body>
    <div class="menubar">
        <a class="logo" href="/"><img src="/static/logo.png" alt="Aura logo" /></a>
        <a class="item" href="/p/{{ .ProjectSlug }}">{{ .ProjectName }}</a>
    </div>
    {{ if .EntityKeys }}
    <div class="grid">
        {{ range $key := .EntityKeys }}
        <div>
            <h2>{{ $key }}</h2>
            {{ $items := index $.Entities $key }}
            {{ range $item := $items }}
            <div class="item"><b><a href="/p/{{ $.ProjectSlug }}/{{ $key }}/{{ $item.Val }}">{{ $item.Val }}</a></b> created {{ $item.Created }}</div>
            {{ end }}
            {{ $more := index $.EntityMore $key }}
            {{ if $more }}
            <div class="button" style="margin: 0.5em 0;"><a href="/p/{{ $.ProjectSlug }}/{{ $key }}">Show more &gt;</a></div>
            {{ end }}
        </div>
        {{ end }}
    </div>
    {{ else }}
    <div class="container">
        <i>No entities found.</i>
    </div>
    {{ end }}
</body>
</html>
