<!DOCTYPE html>
<html lang="en">
<head>
{{ template "headers" . }}
</head>
<body>
    <div class="menubar">
        <a class="logo" href="/"><img src="/static/logo.png" alt="Aura logo" /></a>
        <a class="item" href="/p/{{ .ProjectSlug }}">{{ .ProjectName }}</a>
        <a class="item" href="/p/{{ .ProjectSlug }}/{{ .EntityKey }}">{{ .EntityKey }}</a>
        <a class="item" href="/p/{{ .ProjectSlug }}/{{ .EntityKey }}/{{ .EntityVal }}">{{ .EntityVal }}</a>
    </div>
    {{ if .Jobs }}
    {{ range $i := .JobsIndexes }}
    {{ $jobItem := index $.Jobs $i }}
    <div class="container">
        {{ template "jobitem" $jobItem }}
        {{ $historyList := index $.JobsHistory $i }}
        {{ if $historyList }}
        <div class="history">
            {{ range $historyItem := $historyList }}
            {{ template "jobitem" $historyItem }}
            {{ end }}
        </div>
        {{ end }}
    </div>
    {{ end }}
    {{ else }}
    <div class="container">
        <div><i>No jobs found.</i></div>
    </div>
    {{ end }}
</body>
</html>
