<!DOCTYPE html>
<html lang="en">
<head>
{{ template "headers" . }}
</head>
<body>
    <div class="menubar">
        <a class="logo" href="/"><img src="/static/logo.png" alt="Aura logo" /></a>
        <a class="item" href="/queue">Job Queue</a>
        <a class="item" href="/runners">Runner Status</a>
    </div>
    <div class="container">
        <h2>All Projects</h2>
        <div class="button" style="margin-bottom: 0.5em;"><a href="/new-project">Create New Project &gt;</a></div>
        {{ if .Projects }}
        {{ range $project := .Projects }}
        <div class="item"><b><a href="/p/{{ $project.Slug }}">{{ $project.Name }}</a></b></div>
        {{ end }}
        {{ else }}
        <div><i>No projects found.</i></div>
        {{ end }}
    </div>
</body>
</html>
